@font-face {
  font-family: Russo One;
  src: url(/Russo One/Russo_One.otf);
  font-weight: bold;
}
.nomer1{
font-family: 'Roboto Condensed', sans-serif;
}

.yakun-menyu-ssilka{
font-family: russo one;
	}
	.yakun-menyu-ssilka{
font-family: 'Roboto Condensed', sans-serif;
	}
	
.manzil{
font-family: 'Roboto Condensed', sans-serif;
}	


.bizning-loyihalar-soz{
font-family: 'Roboto Condensed', sans-serif;
	}
	.menyu{
		font-family: 'Roboto Condensed', sans-serif;

}
.sayt-nomi{
	font-family: Russo One;
}

.telefon-soz{
	font-family: Russo One;
}

.telegram-soz{
	font-family:Russo One ;
}


.instagram-soz{
font-family: Russo One;
}

.asosiy-telegram a{
font-family: Russo One;
}

.asosiy-telefon a{
	font-family: Russo One;
}

.asosiy-instagram a{
	font-family: Russo One;
}
.knopkalani-top-leftini-boshqarish{
  font-family: Russo One;
}


.telegram-yozuv{
	font-family: Russo One;
}
 
.tel-yozuv{
		font-family: Russo One;
}
 
.instagram-yozuv{
		font-family: Russo One;
}
.hoverlay-dcontent a {
	font-family: Russo One;
	font-style:  italic;
}
.yakun-menyu-ssilka{
font-family: russo one;
	}
	.webdizayner{
	font-family: 'Roboto Condensed', sans-serif;
}

.webdizayner-haqida{
	font-family: 'Oswald', sans-serif;
}
.biz-bilan-boglan-soz{
	font-family: BlaxSlabXXL;
}